.card:hover {
    transform: scale(1.05);
}
.card,
.image {
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
    height: 325px;
}

.icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}
.title-light {
    color: #ff206e;
}
.title-dark {
    color: #fff;
}